<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Concesionaria Autos</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="../../public/images/Logo.jpg" alt="logo" />
      </div>
      <nav>
        <ul>
          <li>Linea de negocio</li>
          <li><a href="">Acerca de</a></li>
          <li><a href="">Sucursales</a></li>
          <li><a href="">Carreras</a></li>
          <li><a href="">Cotizar</a></li>
        </ul>
      </nav>
    </header>
  </body>
  <script src="/static/js/main.js"></script>
</html>
